.roll-container{
    font-family: Verdana;
    text-align: center;
}

#rollBtn{
    background-color: hsl(240, 91%, 4%);
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 3em;
}

.labels{
    font-size: 3em;
}